In [78]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [83]:
df1 = pd.read_csv('../../data/pre-clean data/Had Serious Thoughts of Suicide in Past Year- Among People Aged 18 or Older; by Detailed Age Category, Numbers in Thousands, 2008-2020.csv')
df2 = pd.read_csv('../../data/pre-clean data/Had Serious Thoughts of Suicide in Past Year- Among People Aged 18 or Older; by Demographic Characteristics, Numbers in Thousands, 2008-2020.csv')
df3 = pd.read_csv('../../data/pre-clean data/Had Serious Thoughts of Suicide in Past Year- Among People Aged 18 or Older; by Geographic and Socioeconomic Characteristics, Numbers in Thousands, 2008-2020.csv')

df1.rename(columns = {'Age Category':''}, inplace = True)
df2.rename(columns = {'Demographic Characteristic':''}, inplace = True)
df3.rename(columns = {'Geographic/Socioeconomic Characteristic':''}, inplace = True)

df1 = df1.drop(df1.index[[0,1,4,5,11]])
df1 = df1.apply(lambda x: x.str.replace('65 or Older', '65+'))
df1 = df1.reset_index()
df1 = df1.drop(columns=['index'])

df2 = df2.drop(df2.index[[0,1,2,3,4,5,6,9,13,14]])
df2 = df2.reset_index()
df2 = df2.drop(columns=['index'])

df3 = df3.drop(df3.index[[0,1,6,13,14,15,16,17,22,23,24,25,26]])
df3 = df3.reset_index()
df3 = df3.drop(columns=['index'])
df3 = df3.apply(lambda x: x.str.replace('Northeast', 'Northeast Region'))
df3 = df3.apply(lambda x: x.str.replace('Midwest', 'Midwest Region'))
df3 = df3.apply(lambda x: x.str.replace('South', 'South Region'))
df3 = df3.apply(lambda x: x.str.replace('West', 'West Region'))
df3 = df3.apply(lambda x: x.str.replace('Large Metro', 'Large Metro Resident'))
df3 = df3.apply(lambda x: x.str.replace('Small Metro', 'Small Metro Resident'))
df3 = df3.apply(lambda x: x.str.replace('Nonmetro', 'Non Metro Resident'))

df1 = df1.replace(',','', regex=True)
df1 = df1.apply(lambda x: x.str.replace('nc', ''))
df1 = df1.apply(lambda x: x.str.strip()).replace('', np.nan)
df2 = df2.replace(',','', regex=True)
df2 = df2.apply(lambda x: x.str.replace('nc', ''))
df2 = df2.apply(lambda x: x.str.strip()).replace('', np.nan)
df3 = df3.replace(',','', regex=True)
df3 = df3.apply(lambda x: x.str.replace('nc', ''))
df3 = df3.apply(lambda x: x.str.strip()).replace('', np.nan)

df1['2008'] = pd.to_numeric(df1['2008']).astype('float')
df1['2009'] = pd.to_numeric(df1['2009']).astype('float')
df1['2010'] = pd.to_numeric(df1['2010']).astype('float')
df1['2011'] = pd.to_numeric(df1['2011']).astype('float')
df1['2012'] = pd.to_numeric(df1['2012']).astype('float')
df1['2013'] = pd.to_numeric(df1['2013']).astype('float')
df1['2014'] = pd.to_numeric(df1['2014']).astype('float')
df1['2015'] = pd.to_numeric(df1['2015']).astype('float')
df1['2016'] = pd.to_numeric(df1['2016']).astype('float')
df1['2017'] = pd.to_numeric(df1['2017']).astype('float')
df1['2018'] = pd.to_numeric(df1['2018']).astype('float')
df1['2019'] = pd.to_numeric(df1['2019']).astype('float')
df1['2020'] = pd.to_numeric(df1['2020']).astype('float')

df2['2008'] = pd.to_numeric(df2['2008']).astype('float')
df2['2009'] = pd.to_numeric(df2['2009']).astype('float')
df2['2010'] = pd.to_numeric(df2['2010']).astype('float')
df2['2011'] = pd.to_numeric(df2['2011']).astype('float')
df2['2012'] = pd.to_numeric(df2['2012']).astype('float')
df2['2013'] = pd.to_numeric(df2['2013']).astype('float')
df2['2014'] = pd.to_numeric(df2['2014']).astype('float')
df2['2015'] = pd.to_numeric(df2['2015']).astype('float')
df2['2016'] = pd.to_numeric(df2['2016']).astype('float')
df2['2017'] = pd.to_numeric(df2['2017']).astype('float')
df2['2018'] = pd.to_numeric(df2['2018']).astype('float')
df2['2019'] = pd.to_numeric(df2['2019']).astype('float')
df2['2020'] = pd.to_numeric(df2['2020']).astype('float')

df3['2008'] = pd.to_numeric(df3['2008']).astype('float')
df3['2009'] = pd.to_numeric(df3['2009']).astype('float')
df3['2010'] = pd.to_numeric(df3['2010']).astype('float')
df3['2011'] = pd.to_numeric(df3['2011']).astype('float')
df3['2012'] = pd.to_numeric(df3['2012']).astype('float')
df3['2013'] = pd.to_numeric(df3['2013']).astype('float')
df3['2014'] = pd.to_numeric(df3['2014']).astype('float')
df3['2015'] = pd.to_numeric(df3['2015']).astype('float')
df3['2016'] = pd.to_numeric(df3['2016']).astype('float')
df3['2017'] = pd.to_numeric(df3['2017']).astype('float')
df3['2018'] = pd.to_numeric(df3['2018']).astype('float')
df3['2019'] = pd.to_numeric(df3['2019']).astype('float')
df3['2020'] = pd.to_numeric(df3['2020']).astype('float')

In [80]:
df1

,,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,18-20,1022.0,950.0,1067.0,1104.0,1161.0,1260.0,1167.0,1294.0,1408.0,1596.0,1571.0,1747.0,1552.0
1,21-25,1205.0,1077.0,1191.0,1225.0,1328.0,1308.0,1420.0,1584.0,1614.0,1958.0,2138.0,2179.0,2219.0
2,26-29,776.0,754.0,742.0,765.0,759.0,808.0,796.0,990.0,944.0,1175.0,1284.0,1522.0,1279.0
3,30-34,698.0,812.0,755.0,536.0,777.0,888.0,894.0,936.0,1068.0,922.0,1165.0,1276.0,1422.0
4,35-39,767.0,954.0,593.0,822.0,726.0,693.0,727.0,720.0,855.0,753.0,883.0,990.0,932.0
5,40-44,811.0,832.0,790.0,680.0,838.0,680.0,850.0,709.0,585.0,800.0,697.0,755.0,832.0
6,45-49,899.0,938.0,1125.0,784.0,965.0,805.0,685.0,716.0,721.0,642.0,627.0,787.0,852.0
7,50-54,695.0,721.0,668.0,931.0,602.0,1119.0,873.0,806.0,796.0,523.0,603.0,583.0,905.0
8,55-59,599.0,693.0,698.0,656.0,528.0,721.0,832.0,647.0,641.0,749.0,584.0,704.0,712.0
9,60-64,296.0,280.0,435.0,401.0,548.0,376.0,461.0,519.0,413.0,484.0,427.0,463.0,431.0
10,65+,567.0,456.0,660.0,636.0,800.0,632.0,731.0,846.0,783.0,1039.0,766.0,943.0,1061.0

In [81]:
df2

,,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Male,3753.0,3874.0,4158.0,3771.0,4064.0,4356.0,4437.0,4492.0,4765.0,4814.0,4885.0,5341.0,5400.0
1,Female,4581.0,4593.0,4566.0,4770.0,4967.0,4935.0,4999.0,5275.0,5064.0,5827.0,5859.0,6610.0,6797.0
2,Not Hispanic or Latino,7499.0,7436.0,7966.0,7691.0,7821.0,8008.0,8183.0,8381.0,8489.0,9341.0,9248.0,9904.0,10428.0
3,White,6163.0,5990.0,6294.0,6140.0,6200.0,6438.0,6510.0,6736.0,6804.0,7284.0,7206.0,7818.0,8396.0
4,Black or African American,916.0,921.0,1083.0,885.0,965.0,804.0,908.0,934.0,1004.0,1097.0,1199.0,1173.0,1019.0
5,Asian,219.0,197.0,335.0,322.0,379.0,393.0,390.0,317.0,303.0,454.0,405.0,522.0,401.0
6,Two or More Races,141.0,184.0,142.0,141.0,185.0,278.0,304.0,312.0,298.0,369.0,319.0,298.0,514.0
7,Hispanic or Latino,836.0,1031.0,758.0,849.0,1210.0,1284.0,1253.0,1386.0,1340.0,1300.0,1496.0,2046.0,1769.0

In [82]:
df3

,,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Northeast Region,1488.0,1520.0,1606.0,1514.0,1655.0,1655.0,1643.0,1755.0,1619.0,1619.0,1686.0,2073.0,1747.0
1,Midwest Region,2071.0,2173.0,2087.0,2020.0,1951.0,2052.0,2057.0,2119.0,2028.0,2384.0,2426.0,2742.0,2942.0
2,South Region,2792.0,2514.0,2965.0,2944.0,3203.0,3370.0,3326.0,3445.0,3434.0,3898.0,3685.0,4059.0,4083.0
3,West Region,1984.0,2260.0,2067.0,2062.0,2222.0,2215.0,2410.0,2449.0,2748.0,2741.0,2947.0,3076.0,3425.0
4,Large Metro Resident,4497.0,4534.0,4639.0,4101.0,4824.0,4949.0,5014.0,5237.0,5224.0,5514.0,5697.0,6412.0,6079.0
5,Small Metro Resident,2798.0,2643.0,2669.0,3154.0,2953.0,2870.0,2890.0,3107.0,3263.0,3406.0,3516.0,3899.0,4322.0
6,Non Metro Resident,1039.0,1290.0,1415.0,1286.0,1255.0,1472.0,1532.0,1424.0,1342.0,1722.0,1531.0,1640.0,1797.0
7,Urbanized,386.0,551.0,622.0,494.0,480.0,724.0,663.0,672.0,581.0,755.0,778.0,719.0,911.0
8,Less Urbanized,553.0,633.0,647.0,670.0,609.0,665.0,724.0,619.0,626.0,823.0,633.0,785.0,788.0
9,Completely Rural,100.0,106.0,147.0,122.0,167.0,84.0,144.0,133.0,135.0,144.0,121.0,136.0,97.0
10,< High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1366.0,1339.0,1274.0,1230.0,1286.0,1303.0
11,High School Graduate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2623.0,2408.0,2626.0,2837.0,2952.0,3245.0
12,Some College/Associate’s Degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3652.0,3906.0,4238.0,4150.0,4793.0,4713.0
13,College Graduate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2126.0,2175.0,2504.0,2527.0,2920.0,2936.0