In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [30]:
df1 = pd.read_csv('../../data/pre-clean data/Attempted Suicide in Past Year- Among People Aged 18 or Older; by Detailed Age Category, Numbers in Thousands, 2008-2020.csv')
df2 = pd.read_csv('../../data/pre-clean data/Attempted Suicide in Past Year- Among People Aged 18 or Older; by Demographic Characteristics, Numbers in Thousands, 2008-2020.csv')
df1.rename(columns = {'Age Category':''}, inplace = True)
df1 = df1.drop(df1.index[[0,1,4,5,11]])
df1 = df1.apply(lambda x: x.str.replace('65 or Older', '65+'))
df1 = df1.reset_index()
df1 = df1.drop(columns=['index'])
df2.rename(columns = {'Demographic Characteristic':''}, inplace = True)
df2 = df2.drop(df2.index[[0,1,2,3,4,5,6,9,13,14]])
df2 = df2.reset_index()
df2 = df2.drop(columns=['index'])

df1 = df1.replace(',','', regex=True)
df1 = df1.apply(lambda x: x.str.replace('nc', ''))
df1 = df1.apply(lambda x: x.str.strip()).replace('', np.nan)
df2 = df2.replace(',','', regex=True)
df2 = df2.apply(lambda x: x.str.replace('nc', ''))
df2 = df2.apply(lambda x: x.str.strip()).replace('', np.nan)

df1['2008'] = pd.to_numeric(df1['2008']).astype('float')
df1['2009'] = pd.to_numeric(df1['2009']).astype('float')
df1['2010'] = pd.to_numeric(df1['2010']).astype('float')
df1['2011'] = pd.to_numeric(df1['2011']).astype('float')
df1['2012'] = pd.to_numeric(df1['2012']).astype('float')
df1['2013'] = pd.to_numeric(df1['2013']).astype('float')
df1['2014'] = pd.to_numeric(df1['2014']).astype('float')
df1['2015'] = pd.to_numeric(df1['2015']).astype('float')
df1['2016'] = pd.to_numeric(df1['2016']).astype('float')
df1['2017'] = pd.to_numeric(df1['2017']).astype('float')
df1['2018'] = pd.to_numeric(df1['2018']).astype('float')
df1['2019'] = pd.to_numeric(df1['2019']).astype('float')
df1['2020'] = pd.to_numeric(df1['2020']).astype('float')

df2['2008'] = pd.to_numeric(df2['2008']).astype('float')
df2['2009'] = pd.to_numeric(df2['2009']).astype('float')
df2['2010'] = pd.to_numeric(df2['2010']).astype('float')
df2['2011'] = pd.to_numeric(df2['2011']).astype('float')
df2['2012'] = pd.to_numeric(df2['2012']).astype('float')
df2['2013'] = pd.to_numeric(df2['2013']).astype('float')
df2['2014'] = pd.to_numeric(df2['2014']).astype('float')
df2['2015'] = pd.to_numeric(df2['2015']).astype('float')
df2['2016'] = pd.to_numeric(df2['2016']).astype('float')
df2['2017'] = pd.to_numeric(df2['2017']).astype('float')
df2['2018'] = pd.to_numeric(df2['2018']).astype('float')
df2['2019'] = pd.to_numeric(df2['2019']).astype('float')
df2['2020'] = pd.to_numeric(df2['2020']).astype('float')

In [31]:
df1

,,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,18-20,242.0,190.0,205.0,221.0,282.0,255.0,190.0,274.0,334.0,364.0,316.0,300.0,336.0
1,21-25,153.0,182.0,189.0,194.0,226.0,180.0,244.0,298.0,281.0,284.0,332.0,305.0,292.0
2,26-29,106.0,83.0,44.0,119.0,100.0,98.0,99.0,115.0,131.0,114.0,105.0,156.0,184.0
3,30-34,117.0,81.0,105.0,73.0,85.0,158.0,91.0,131.0,114.0,83.0,121.0,154.0,98.0
4,35-39,58.0,121.0,48.0,102.0,87.0,126.0,79.0,77.0,114.0,88.0,157.0,91.0,57.0
5,40-44,61.0,62.0,86.0,93.0,126.0,135.0,100.0,107.0,60.0,52.0,79.0,105.0,61.0
6,45-49,103.0,118.0,115.0,55.0,105.0,80.0,123.0,76.0,77.0,97.0,59.0,74.0,51.0
7,50-54,151.0,51.0,62.0,136.0,56.0,43.0,62.0,136.0,47.0,105.0,83.0,31.0,84.0
8,55-59,42.0,50.0,60.0,112.0,53.0,120.0,62.0,67.0,65.0,58.0,118.0,58.0,9.0
9,60-64,29.0,35.0,47.0,2.0,57.0,59.0,17.0,46.0,25.0,29.0,14.0,13.0,26.0
10,65+,25.0,66.0,160.0,29.0,114.0,60.0,54.0,72.0,71.0,113.0,58.0,94.0,6.0

In [32]:
df2

,,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Male,423.0,464.0,541.0,437.0,513.0,521.0,445.0,621.0,551.0,558.0,578.0,518.0,429.0
1,Female,665.0,575.0,581.0,698.0,777.0,791.0,676.0,778.0,768.0,829.0,865.0,861.0,775.0
2,Not Hispanic or Latino,917.0,922.0,978.0,959.0,1045.0,1038.0,941.0,1164.0,1107.0,1177.0,1136.0,1128.0,960.0
3,White,680.0,651.0,686.0,629.0,746.0,786.0,609.0,939.0,783.0,810.0,728.0,764.0,741.0
4,Black or African American,181.0,188.0,224.0,179.0,192.0,179.0,210.0,136.0,185.0,193.0,276.0,230.0,96.0
5,Asian,12.0,33.0,24.0,97.0,61.0,20.0,71.0,38.0,97.0,76.0,51.0,56.0,21.0
6,Two or More Races,34.0,32.0,30.0,23.0,26.0,25.0,27.0,37.0,31.0,56.0,65.0,67.0,57.0
7,Hispanic or Latino,172.0,118.0,143.0,176.0,245.0,275.0,180.0,234.0,212.0,211.0,306.0,251.0,243.0