In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [52]:
df1 = pd.read_csv('../../data/pre-clean data/Major Depressive Episode in Past Year- Among People Aged 12 to 17; by Demographic Characteristics, Numbers in Thousands, 2004-2020.csv')
df2 = pd.read_csv('../../data/pre-clean data/Receipt of Treatment for Depression in Past Year- Among People Aged 12 to 17 with Major Depressive Episode in Past Year; by Demographic Characteristics, Numbers in Thousands, 2004-2020.csv')
df1.rename(columns = {'Demographic Characteristic':''}, inplace = True)
df2.rename(columns = {'Demographic Characteristic':''}, inplace = True)
df1 = df1.drop(df1.index[[0,1,5,8,12,13]])
df2 = df2.drop(df2.index[[0,1,5,8,12,13]])
df1 = df1.reset_index()
df1 = df1.drop(columns=['index'])
df2 = df2.reset_index()
df2 = df2.drop(columns=['index'])
df1 = df1.replace(',','', regex=True)
df1 = df1.apply(lambda x: x.str.replace('nc', ''))
df1 = df1.apply(lambda x: x.str.strip()).replace('', np.nan)
df2 = df2.replace(',','', regex=True)
df2 = df2.apply(lambda x: x.str.replace('*', ''))
df2 = df2.apply(lambda x: x.str.strip()).replace('', np.nan)
df1 = df1.apply(lambda x: x.str.replace('13-Dec', '12-13'))
df2 = df2.apply(lambda x: x.str.replace('13-Dec', '12-13'))

df1['2004'] = pd.to_numeric(df1['2004']).astype('float')
df1['2005'] = pd.to_numeric(df1['2005']).astype('float')
df1['2006'] = pd.to_numeric(df1['2006']).astype('float')
df1['2007'] = pd.to_numeric(df1['2007']).astype('float')
df1['2008'] = pd.to_numeric(df1['2008']).astype('float')
df1['2009'] = pd.to_numeric(df1['2009']).astype('float')
df1['2010'] = pd.to_numeric(df1['2010']).astype('float')
df1['2011'] = pd.to_numeric(df1['2011']).astype('float')
df1['2012'] = pd.to_numeric(df1['2012']).astype('float')
df1['2013'] = pd.to_numeric(df1['2013']).astype('float')
df1['2014'] = pd.to_numeric(df1['2014']).astype('float')
df1['2015'] = pd.to_numeric(df1['2015']).astype('float')
df1['2016'] = pd.to_numeric(df1['2016']).astype('float')
df1['2017'] = pd.to_numeric(df1['2017']).astype('float')
df1['2018'] = pd.to_numeric(df1['2018']).astype('float')
df1['2019'] = pd.to_numeric(df1['2019']).astype('float')
df1['2020'] = pd.to_numeric(df1['2020']).astype('float')

df2['2004'] = pd.to_numeric(df2['2004']).astype('float')
df2['2005'] = pd.to_numeric(df2['2005']).astype('float')
df2['2006'] = pd.to_numeric(df2['2006']).astype('float')
df2['2007'] = pd.to_numeric(df2['2007']).astype('float')
df2['2008'] = pd.to_numeric(df2['2008']).astype('float')
df2['2009'] = pd.to_numeric(df2['2009']).astype('float')
df2['2010'] = pd.to_numeric(df2['2010']).astype('float')
df2['2011'] = pd.to_numeric(df2['2011']).astype('float')
df2['2012'] = pd.to_numeric(df2['2012']).astype('float')
df2['2013'] = pd.to_numeric(df2['2013']).astype('float')
df2['2014'] = pd.to_numeric(df2['2014']).astype('float')
df2['2015'] = pd.to_numeric(df2['2015']).astype('float')
df2['2016'] = pd.to_numeric(df2['2016']).astype('float')
df2['2017'] = pd.to_numeric(df2['2017']).astype('float')
df2['2018'] = pd.to_numeric(df2['2018']).astype('float')
df2['2019'] = pd.to_numeric(df2['2019']).astype('float')
df2['2020'] = pd.to_numeric(df2['2020']).astype('float')

/var/folders/bl/052c3hfs443637kyktp_jzjm0000gn/T/ipykernel_36793/3976309365.py:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2 = df2.apply(lambda x: x.str.replace('*', ''))

In [53]:
df1

,,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,12-13,445.0,417.0,383.0,337.0,366.0,330.0,330.0,312.0,420.0,470.0,548.0,587.0,548.0,516.0,632.0,816.0,902.0
1,14-15,783.0,811.0,684.0,705.0,706.0,741.0,706.0,710.0,844.0,1025.0,986.0,1163.0,1115.0,1200.0,1250.0,1341.0,1533.0
2,16-17,997.0,964.0,902.0,974.0,955.0,883.0,876.0,989.0,950.0,1091.0,1217.0,1281.0,1427.0,1498.0,1600.0,1626.0,1696.0
3,Male,637.0,571.0,539.0,586.0,540.0,577.0,536.0,566.0,581.0,657.0,710.0,725.0,786.0,845.0,946.0,1076.0,1135.0
4,Female,1588.0,1620.0,1431.0,1430.0,1487.0,1377.0,1375.0,1446.0,1632.0,1930.0,2042.0,2306.0,2303.0,2369.0,2537.0,2708.0,2996.0
5,Not Hispanic or Latino,1848.0,1802.0,1614.0,1691.0,1681.0,1594.0,1537.0,1586.0,1648.0,1970.0,2123.0,2323.0,2366.0,2419.0,2601.0,2755.0,3176.0
6,White,1413.0,1390.0,1220.0,1284.0,1266.0,1180.0,1186.0,1167.0,1231.0,1449.0,1578.0,1742.0,1781.0,1785.0,1905.0,1975.0,2330.0
7,Black or African American,287.0,288.0,245.0,292.0,261.0,285.0,236.0,238.0,269.0,289.0,306.0,302.0,301.0,313.0,334.0,367.0,392.0
8,Asian,82.0,63.0,77.0,66.0,73.0,73.0,57.0,90.0,49.0,123.0,124.0,118.0,152.0,145.0,189.0,190.0,252.0
9,Two or More Races,51.0,41.0,52.0,41.0,59.0,41.0,48.0,75.0,81.0,95.0,93.0,121.0,109.0,138.0,137.0,189.0,179.0
10,Hispanic or Latino,377.0,389.0,356.0,325.0,347.0,360.0,374.0,425.0,566.0,617.0,628.0,708.0,724.0,795.0,882.0,1028.0,956.0

In [54]:
df2

,,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,12-13,169.0,136.0,133.0,137.0,122.0,98.0,106.0,112.0,127.0,181.0,194.0,185.0,189.0,193.0,251.0,302.0,NaN
1,14-15,278.0,329.0,263.0,259.0,236.0,244.0,271.0,258.0,307.0,376.0,394.0,472.0,455.0,453.0,514.0,585.0,629.0
2,16-17,448.0,357.0,364.0,386.0,405.0,331.0,343.0,400.0,379.0,420.0,535.0,530.0,605.0,684.0,667.0,740.0,675.0
3,Male,239.0,193.0,189.0,214.0,183.0,168.0,171.0,199.0,163.0,193.0,265.0,262.0,260.0,274.0,351.0,391.0,448.0
4,Female,656.0,629.0,571.0,568.0,581.0,505.0,549.0,570.0,650.0,784.0,857.0,924.0,989.0,1056.0,1081.0,1236.0,1262.0
5,Not Hispanic or Latino,756.0,700.0,634.0,691.0,658.0,555.0,577.0,645.0,642.0,753.0,918.0,936.0,1008.0,1072.0,1100.0,1251.0,1357.0
6,White,633.0,544.0,502.0,545.0,545.0,444.0,487.0,482.0,500.0,598.0,723.0,702.0,799.0,847.0,870.0,985.0,1133.0
7,Black or African American,82.0,113.0,70.0,116.0,85.0,67.0,54.0,97.0,90.0,83.0,123.0,127.0,102.0,110.0,115.0,130.0,NaN
8,Asian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Two or More Races,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,NaN,62.0,48.0,83.0,NaN
10,Hispanic or Latino,139.0,122.0,126.0,91.0,105.0,118.0,144.0,125.0,171.0,224.0,204.0,251.0,241.0,258.0,332.0,376.0,354.0