In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv('../../data/pre-clean data/Marijuana Use in Past Year- Among People Aged 12 or Older; by Age Group and Demographic Characteristics, Numbers in Thousands, 2019 and 2020.csv')
df.rename(columns = {'Unnamed: 0':'attribute'}, inplace = True)
df.rename(columns = {'Aged':'Y2019_Age12_17'}, inplace = True)
df.rename(columns = {'Aged.1':'Y2020_Age12_17'}, inplace = True)
df.rename(columns = {'Aged.2':'Y2019_Age18_25'}, inplace = True)
df.rename(columns = {'Aged.3':'Y2020_Age18_25'}, inplace = True)
df.rename(columns = {'Aged 26+':'Y2019_Age26+'}, inplace = True)
df.rename(columns = {'Aged 26+.1':'Y2020_Age26+'}, inplace = True)

df = df.drop(columns=['Aged 12+','Aged 12+.1','Aged 18+','Aged 18+.1'])
df = df.drop(df.index[[0,1,2,3,6,10,11,15,20,24]])

df = df.apply(lambda x: x.str.replace('Full-Time', 'Full-Time Employment'))
df = df.apply(lambda x: x.str.replace('Part-Time', 'Part-Time Employment'))
df = df.replace(',','', regex=True)
df = df.apply(lambda x: x.str.replace('da', ''))
df = df.apply(lambda x: x.str.strip()).replace('', np.nan)

df['Y2019_Age12_17'] = pd.to_numeric(df['Y2019_Age12_17'])
df['Y2020_Age12_17'] = pd.to_numeric(df['Y2020_Age12_17'])
df['Y2019_Age18_25'] = pd.to_numeric(df['Y2019_Age18_25']).astype('float')
df['Y2020_Age18_25'] = pd.to_numeric(df['Y2020_Age18_25']).astype('float')
df['Y2019_Age26+'] = pd.to_numeric(df['Y2019_Age26+']).astype('float')
df['Y2020_Age26+'] = pd.to_numeric(df['Y2020_Age26+']).astype('float')

In [24]:
df

,attribute,Y2019_Age12_17,Y2020_Age12_17,Y2019_Age18_25,Y2020_Age18_25,Y2019_Age26+,Y2020_Age26+
4,Male,1649.0,1205.0,6173.0,5730.0,19400.0,19838.0
5,Female,1635.0,1326.0,5779.0,5837.0,13607.0,15698.0
7,Not Hispanic or Latino,2343.0,1897.0,9548.0,9535.0,29128.0,30784.0
8,White,1671.0,1428.0,6870.0,7059.0,22908.0,24045.0
9,Black or African American,426.0,250.0,1714.0,1603.0,4265.0,4665.0
12,Asian,52.0,93.0,453.0,374.0,702.0,749.0
13,Two or More Races,144.0,75.0,395.0,414.0,941.0,957.0
14,Hispanic or Latino,941.0,634.0,2404.0,2032.0,3879.0,4753.0
16,< High School,NaN,NaN,1535.0,976.0,3188.0,3047.0
17,High School Graduate,NaN,NaN,3530.0,3207.0,7109.0,9611.0
18,Some College/Associate’s Degree,NaN,NaN,5079.0,5403.0,11506.0,11815.0
19,College Graduate,NaN,NaN,1809.0,1981.0,11204.0,11064.0
21,Full-Time Employment,NaN,NaN,5520.0,4671.0,19141.0,18984.0
22,Part-Time Employment,NaN,NaN,2982.0,3257.0,3850.0,4185.0
23,Unemployed,NaN,NaN,1223.0,1344.0,1690.0,2428.0